.DashboardParent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.analyticsWrapper{
    display: flex;
    gap: 2rem;
}

.analyticsBox{
    flex: 1;
    background-color: var(--main_white);
    padding:  18px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 0.51rem;
}
.analyticsBox h3{
    font-weight: bold;
    font-size: 17px;
}
.analyticsBox h1{
    font-size: 30px;
}
.analyticsBox p{
    color: gray;
}
.userCollection{
    background-color: var(--main_white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    gap: 1rem;
    
}

.navH1text{
    font-size: 28px;
}