*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --main_white:#ffffff;
  --light_white:#E4E4E4;
  --secondary_text_color:#a4a4a4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  /* background-color:  var(--light_white) !important; */

}
h1,h2,h3,h4,h5,h6{

  /* font-size:initial !important; */
  font-weight: bold;
}